<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

            <%= form.fields_for :ingredients do |builder| %>
              <%= render 'ingredient', f:builder%>
            <%end%>

        <div class="field">
          <%= form.label :foto, "Foto:", class: "control-label col-md-2"  %>
          <div class="col-md-12">
            <%= form.file_field :foto, class: "recipe_foto" %>
          </div>
        </div>
  

  <div class="actions">
    <%= form.submit %>

  </div>
<% end %>
