<style type="text/css">
  .foto {
  object-fit: cover;

  width: 358px;
  height: 207px;
}
</style>



<div class="col-lg-4 col-md-6 px-md-2" id= "recipe_<%= recipe.id %>">
  <div class="card">
    <div class="card-header p-0 position-relative">
      <a href="#">
        <%= image_tag(recipe.foto.url(:thumb), :alt => "Card image cap", class: "card-img-bottom foto") %>
        <span class="fa fa-book post-icon"></span>
      </a>
    </div>
    <div class="card-body">
      <h6 class="let-spa mb-3"><%= recipe.try(:created_at).strftime("%d-%m-%Y") %></h6>
      <h5 class="blog-title card-title">
        <a href="#">
        <%= link_to "#{recipe.name}", recipe %>
      </h5>
      <div class="row">
        <div class="col-12" style="text-align: right; color: #999;">
        <p><%= link_to 'Editar', edit_recipe_path(recipe) %> <%= link_to 'Eliminar', edit_recipe_path(recipe) %></p>

        </div>
      </div>
    </div>
  </div>
</div>


