<div class="col-lg-4 col-md-6 px-md-2" id= "recipe_<%= recipe.id %>">
  <div class="card">
    <div class="card-header p-0 position-relative">
      <a href="#">
        <%= image_tag(recipe.foto.url(:recortada), :alt => "Card image cap", class: "card-img-bottom foto") %>
        <span class="fa fa-book post-icon"></span>
      </a>
    </div>
    <div class="card-body">
      <h6 class="let-spa mb-3"><%= recipe.try(:created_at).strftime("%d-%m-%Y") %></h6>
      <h5 class="blog-title card-title">
        <a href="#">
        <%= link_to "#{recipe.name}", recipe %>
      </h5>
      <div class="row">
        <div class="col-12" style="text-align: right; color: #999;">
          <p>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myupdaterecipe_<%= recipe.id %>">
              Editar
            </button>

            <%= link_to 'Eliminar', recipe_path(recipe), method: :delete, class: "btn btn-default btn-xs", remote:true, data: {confirm: "¿Está seguro que desea eliminarlo?", disable_with: 'Eliminando...'} %>

           


        </div>
        <% if recipe.likes.all.count != 0%>
          <%= recipe.likes.all.count %> <i class="fa fa-heart", style="color: rgb(227, 30, 38);"></i>
        <% end%>
      </div>
    </div>
  </div>




  
</div>


<!-- Modal -->

  <%= form_for(recipe, :method => :put, remote: true, html: {class: "formulario-validado-update#{recipe.id}"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade bd-example-modal-lg" id="myupdaterecipe_<%= recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar receta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <div class="col-md-8">
             Nombre: <%= f.text_field :name, class: "form-control recipe_name",autofocus: true, minlength: "1"  %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <button type="button" class="btn btn-success btn-xs" onclick="miIngrediente()">
               Añadir ingrediente
              </button>
            </div>
          </div>

          <%= fields_for :lista do |ff|%>
           <div id="ingredientes" class="form-row">



           </div>
          <% end %>

          <div class="form-group">
            <%= f.label :body, "Descripción:", class: "control-label col-md-2"  %>
            <div class="col-md-12">
              <%= f.text_area :body, class: "form-control recipe_body",style:"height: 200px;" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :foto, "Foto:", class: "control-label col-md-2"  %>
            <div class="col-md-12">
              <%= f.file_field :foto, class: "recipe_foto" %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Actualizar", class: "btn btn-primary", data: { disable_with: 'Actualizando' }%>
        </div>
      </div>
    </div>
  </div>
  <%end%>