<style type="text/css">
  .mt-5, .my-5 {

    margin-top: 1rem !important;

}


</style>

<style type="text/css">
  .containerx {
      background-color: #ffffffed;
      margin-top: 0%;
      padding-top: 5% !important;
      padding-left: 2%;
      min-height: 50rem;




overflow: hidden;
  }

  .receta {
    min-height: 100%;
    position: absolute;
    width: 100%;



overflow: hidden;

  }
</style>


<!-- Modal -->
<%= form_for(@recipe, remote: true, html: {class: "formulario-validado-create"}) do |f| %> <!--ajax remote: true-->
<div class="modal fade bd-example-modal-lg" id="mi_nueva_receta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mi nueva receta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <div class="col-md-8">
           Nombre: <%= f.text_field :name, class: "form-control recipe_name",autofocus: true, minlength: "5", :required => "true"  %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <button type="button" class="btn btn-success btn-xs" onclick="miIngrediente()">
             Añadir ingrediente
            </button>
          </div>
        </div>

        <%= fields_for :lista do |ff|%>
         <div id="ingredientes" class="form-row">



         </div>
        <% end %>

        <div class="form-group">
          <%= f.label :body, "Descripción:", class: "control-label col-md-2"  %>
          <div class="col-md-12">
            <%= f.text_area :body, class: "form-control recipe_body",style:"height: 200px;", :required => "true", minlength: "20" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :foto, "Foto:", class: "control-label col-md-2"  %>
          <div class="col-md-12">
            <%= f.file_field :foto, class: "recipe_foto" %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
      </div>
    </div>
  </div>
</div>
<%end%>
  <div id="datos_receta"><%= render 'datos_receta' %></div>


  <section class="blog receta" id="blog">   
    <div class="container containerx py-xl-5 py-lg-3">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mi_nueva_receta">
        Nueva receta
      </button>
    </div>

      <h3 class="title-w3ls text-center text-bl mb-5">Mis recetas</h3>
      <div class="row container_recipes">
        <%= render @recipes%>
      </div>
      <div class="row">
        <%= paginate @recipes %>
      </div>
    </div>

  </section>



    <script>
      var orden=0;

      function miIngrediente() {
        orden=orden+1;
        var y = document.createElement("DIV");
        y.setAttribute("class", "form-group col-md-4 ingredientes_añadidos");
        var x = document.createElement("INPUT");
        x.setAttribute("type", "text");
        x.setAttribute("name", `lista[ingrediente_${orden}]`);
        x.setAttribute("class", "recipe_ingredientes form-control");
        x.setAttribute("id", `ingrediente_${orden}`);
        x.setAttribute("placeholder", `ingrediente ${orden}`);
        document.getElementById('ingredientes').appendChild(y).appendChild(x);
      }
    </script>



