<!-- navigation -->
<div class="main-top topinder" style="">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <!-- logo -->
    <h1 class="logo-style-res float-left">

      <%= link_to image_tag("logo.png", class: "img-fluid logo-img mt-1",style:"width: 50px;"), root_path  %> CookMasters
    </h1>
    <!-- //logo -->
    <!-- nav -->
    <div class="nav_w3ls mx-lg-auto">
      <nav>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu mx-lg-auto">
          <li><%= link_to "Home", root_path, class: "active" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Mis recetas", recipes_path %></li>
            <li><%= link_to '<i class="fa fa-sign-out pull-right"></i> Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete%></li>
            <li style="color:#a8171d !important"><%= current_user.username%></li>
            <%else%>
            <li><%= link_to '<i class="fa fa-sign-out pull-right"></i> Iniciar sesión'.html_safe, new_user_session_path%></li>
            <%end%>
        </ul>
      </nav>
    </div>
    <!-- //nav -->
  </div>
</div>
<!-- //navigation -->