<div class="index">
    <%= render :partial => 'partials/slider' %>

	<section class="blog py-5" id="blog">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-bl mb-5">Nuestras 3 mejores recetas</h3>
			<div class="row">
    			<% @las_mejores_recetas.each do |recipe| %>
					<div class="col-lg-4 col-md-6 px-md-2">
					  <div class="card"> 
					    <div class="card-header p-0 position-relative">
					      <a href="#">
							<%= link_to recipe do %>
							   <%= image_tag(recipe.foto.url(:recortada), :alt => "Card image cap", class: "card-img-bottom foto") %>
							<% end %>
					      </a>
					    </div>
					    <div class="card-body">
					      <h6 class="let-spa mb-3"><%= recipe.try(:created_at).strftime("%d-%m-%Y") %></h6>
					      <h5 class="blog-title card-title">
					        <a href="#">
					        <%= link_to "#{recipe.name}", recipe %>
					      </h5>
					      <div class="row">
					        <div class="col-12" style="text-align: right; color: #999;">
					          <p>

					        </div>
					        <% if recipe.likes.all.count != 0%>
					          <%= recipe.likes.all.count %> <i class="fa fa-heart", style="color: rgb(227, 30, 38);"></i>
					        <% end%>
					      </div>
					    </div>
					  </div>
					</div>
    			<% end %>
			</div>
		</div>
	</section>
	<section class="blog py-5" id="blog">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-bl mb-5">Todas nuestras recetas</h3>
			<div class="row">
				<% @recetas.each do |recipe| %>
					<div class="col-lg-4 col-md-6 px-md-2">
					  <div class="card"> 
					    <div class="card-header p-0 position-relative">
					      <a href="#">
							<%= link_to recipe do %>
							   <%= image_tag(recipe.foto.url(:recortada), :alt => "Card image cap", class: "card-img-bottom foto") %>
							<% end %>
					        <span class="fa fa-book post-icon"></span>
					      </a>
					    </div>
					    <div class="card-body">
					      <h6 class="let-spa mb-3"><%= recipe.try(:created_at).strftime("%d-%m-%Y") %></h6>
					      <h5 class="blog-title card-title">
					        <a href="#">
					        <%= link_to "#{recipe.name}", recipe %>
					      </h5>
					      <div class="row">
					        <div class="col-12" style="text-align: right; color: #999;">
					          <p>

					        </div>
					        <% if recipe.likes.all.count != 0%>
					          <%= recipe.likes.all.count %> <i class="fa fa-heart", style="color: rgb(227, 30, 38); "></i>
					          <%else%>
					          <i class="fa fa-heart", style="color: #999; "></i>
					        <% end%>
					      </div>
					    </div>
					  </div>
					</div>

    			<% end %>
    	        <div class="row">

      			</div>
			</div>
			<br>
				<div class="col-lg-7 ">
        			<%= paginate @recetas %>
				</div>
		</div>
	</section>
<%= render :partial => 'partials/footer' %>
</div>