    <%= render :partial => 'partials/slider' %>
	<!-- banner bottom grids -->
	<section class="banner-bottom-w3layouts pb-5" id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 about-in text-center">
					<div class="serv-cont-wthree">
						<div class="icon-wthrees">
							<span class="fa fa-cutlery"></span>
						</div>
						<h5 class="card-title mb-3 mt-4">Comparte recetas</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
							tempor.</p>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center my-lg-0 my-4">
					<div class="serv-cont-wthree">
						<div class="icon-wthrees">
							<span class="fa fa-smile-o"></span>
						</div>
						<h5 class="card-title mb-3 mt-4">Descubre nuevas recetas</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
							tempor.</p>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center">
					<div class="serv-cont-wthree">
						<div class="icon-wthrees">
							<span class="fa fa-birthday-cake"></span>
						</div>
						<h5 class="card-title mb-3 mt-4">Date a conocer como nuestro mejor chef</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
							tempor.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //banner bottom grids -->

	<!-- about -->
	<section class="blog py-5" id="blog">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-bl mb-5">Nuestras mejores recetas</h3>
			<div class="row">
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 px-md-2">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a href="#">
								<%= image_tag("blog1.jpg", :alt => "Card image cap", class: "card-img-bottom") %>
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">20 April 2019</h6>
							<h5 class="blog-title card-title">
								<a href="#">At vero eos et accusam et
									justo duo dolores et ea rebum</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<%= image_tag("te1.jpg", :alt => "", class: "img-fluid rounded-circle") %>
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">Adam Ster</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 px-md-2 mt-md-0 mt-5">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a href="#">
								<%= image_tag("blog2.jpg", :alt => "Card image cap", class: "card-img-bottom") %>
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">22 April 2019</h6>
							<h5 class="blog-title card-title">
								<a href="#">At vero eos et accusam et
									justo duo dolores et ea rebum</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<%= image_tag("te2.jpg", :alt => "", class: "img-fluid rounded-circle") %>
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">Anna Mull</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 px-md-2 mt-lg-0 mt-5">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a href="#">
								<%= image_tag("blog3.jpg", :alt => "Card image cap", class: "card-img-bottom") %>
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">24 April 2019</h6>
							<h5 class="blog-title card-title">
								<a href="#">At vero eos et accusam et
									justo duo dolores et ea rebum</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<%= image_tag("te3.jpg", :alt => "", class: "img-fluid rounded-circle") %>
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">Petey Cruiser</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- team -->
	<section class="teams py-5" id="chefs">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-wh mb-5">Nuestros mejores Chef's</h3>
			<div class="row text-center">
				<div class="col-lg-4">
					<div class="team-gd">
						<%= image_tag("t1.jpg", :alt => "user-image", class: "img-fluid") %>
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">Chef 01</span> Marian Dupre</h3>
							<p>Donec consequat sapien ut leo cursus rhoncus</p>
							<ul class="social_section_1info list-unstyled pt-2 mt-4">
								<li class="d-inline facebook">
									<a href="#"><span class="fa fa-facebook mr-1"></span>facebook</a>
								</li>
								<li class="d-inline twitter">
									<a href="#"><span class="fa fa-twitter mr-1"></span>twitter</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt-lg-0 mt-5">
					<div class="team-gd">
						<%= image_tag("t2.jpg", :alt => "user-image", class: "img-fluid") %>
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">Chef 02</span> Judy Crouse</h3>
							<p>Donec consequat sapien ut leo cursus rhoncus</p>
							<ul class="social_section_1info list-unstyled pt-2 mt-4">
								<li class="d-inline google">
									<a href="#"><span class="fa fa-google-plus mr-1"></span>google</a>
								</li>
								<li class="d-inline linkedin">
									<a href="#"><span class="fa fa-linkedin mr-1"></span>linkedin</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt-lg-0 mt-5">
					<div class="team-gd">
						<%= image_tag("t3.jpg", :alt => "user-image", class: "img-fluid") %>
						<div class="team-info mt-4">
							<h3 class="mb-2"><span class="sub-tittle-team">Chef 03</span> Ruth Chase</h3>
							<p>Donec consequat sapien ut leo cursus rhoncus</p>
							<ul class="social_section_1info list-unstyled pt-2 mt-4">
								<li class="d-inline facebook">
									<a href="#"><span class="fa fa-facebook mr-1"></span>facebook</a>
								</li>
								<li class="d-inline twitter">
									<a href="#"><span class="fa fa-twitter mr-1"></span>twitter</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //team -->

	<!-- blog -->
	<section class="blog py-5" id="blog">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3ls text-center text-bl mb-5">Todas nuestras recetas</h3>
			<div class="row">
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 px-md-2">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a href="#">
								<%= image_tag("blog1.jpg", :alt => "Card image cap", class: "card-img-bottom") %>
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">20 April 2019</h6>
							<h5 class="blog-title card-title">
								<a href="#">At vero eos et accusam et
									justo duo dolores et ea rebum</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<%= image_tag("te1.jpg", :alt => "", class: "img-fluid rounded-circle") %>
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">Adam Ster</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 px-md-2 mt-md-0 mt-5">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a href="#">
								<%= image_tag("blog2.jpg", :alt => "Card image cap", class: "card-img-bottom") %>
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">22 April 2019</h6>
							<h5 class="blog-title card-title">
								<a href="#">At vero eos et accusam et
									justo duo dolores et ea rebum</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<%= image_tag("te2.jpg", :alt => "", class: "img-fluid rounded-circle") %>
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">Anna Mull</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
				<!-- blog grid -->
				<div class="col-lg-4 col-md-6 px-md-2 mt-lg-0 mt-5">
					<div class="card">
						<div class="card-header p-0 position-relative">
							<a href="#">
								<%= image_tag("blog3.jpg", :alt => "Card image cap", class: "card-img-bottom") %>
								<span class="fa fa-user post-icon"></span>
							</a>
						</div>
						<div class="card-body">
							<h6 class="let-spa mb-3">24 April 2019</h6>
							<h5 class="blog-title card-title">
								<a href="#">At vero eos et accusam et
									justo duo dolores et ea rebum</a>
							</h5>
							<div class="row mt-5">
								<div class="col-3 testi-img-res px-2">
									<%= image_tag("te3.jpg", :alt => "", class: "img-fluid rounded-circle") %>
								</div>
								<div class="col-9 w3_testi_grid mt-xl-2 mt-lg-0 mt-md-2 mt-4">
									<h5 class="mb-1">Petey Cruiser</h5>
									<p>Sed do eiusmod</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //blog grid -->
			</div>
		</div>
	</section>
	<!-- //blog -->
<%= render :partial => 'partials/footer' %>
